<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="419240446354-idt4fn3rvoaqdg604eigj8t1b3b45ra4.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
</head>

<body>
    <section class=" bulletin section is-small has-background-light pb-0"> 
        <div class= "y ">
          <p class= "titleBulletin is-flex is-justify-content-center " >BULLETIN</p>
         </div>
    </section>

    <nav class="is-flex ">
        <div class=" is-flex is-justify-content-start">
            <a class ="is-flex subtitle" href="/" id="home">Home</a>
            <a class ="is-flex subtitle" href="/activeprojects" id="active-projects">Projects</a>
        {{#if logged_in}}
            <a class ="is-flex subtitle" href="/myprojects" id="my-projects" >My Projects</a>
        </div>
          
        <div class ="is-flex is-justify-content-end">
            <a class ="is-flex subtitle" href="/" id="logout">Sign out </a>
            <a class ="is-flex subtitle" id="user_name"> {{user_name}}</a>
        </div>
        {{else}}
        </div>
        <div class="is-flex is-justify-content-end">
            <a class ="is-flex subtitle" href="/login" id="login">Sign in</a>
        </div>
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer class="footer">
        <div class="social-icons">
            <p>Contact us via Facebook, Twitter, or Instagram:</p>
            <a href="#"><img src="/image/facebook.svg" alt="Facebook icon" /></a>
            <a href="#"><img src="/image/twitter.svg" alt="Twitter icon" /></a>
            <a href="#"><img src="/image/instagram.svg" alt="Instagram icon" /></a>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
   
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</body>

</html>