<div class="home container is-fluid has-background-grey-light">
  
  <section class=" section is-small columns">    
      <div class=" column is-3 is-offset-1"> 
         <article class="details panel message is-info is-primary has-background-primary-light">
            <p class="title is-flex is-justify-content-center is-1 p-3 is-family-monospace">
            What is Bulletin?
               <p class="subtitle p-3 is-3 is-family-monospace">
                Bulletin is a event managment website that helps you and others reach out and organize
                events. With Bulletin you can easily see who is contributing along with a clear interface 
                that displays what you project information and needs.
               </p>
            </p>
         </article>
      </div>
      <div class="column is-3 is-offset-3"> 
         <article class=" signUp details container">
            <div class="featureDescription content title is-size-1 has-text-weight-bold is-flex is-justify-content-center">
            Features   
            </div>
               <div class="featureDescription subtitle p-5 is-3 ">
               Bulletin allows you to create any event to your liking, you'll be able to add descriptions, needs, and location to your event page.
               With Bulletin you will also be able to see other posted events and contribute, whether it's donating or completing tasks your cooperation will be displayed on the project page to show others that your help is appreciated. 
            </div>
         </article>
      </div>
  </section>

  <section class="section is-small">
      <div class="columns">
         <div class=" about_us column is-3  is-offset-3">
            <article class="about-me message is-info is-primary">
               <p class="title is-flex is-justify-content-center  p-2 is-family-monospace">
               About Us
                  <p class="subtitle p-2 is-family-monospace">
                  Bulletin is a event managment website that helps you and others reach out and organize
                  events. With Bulletin you can easily see who is contributing along with a clear interface 
                  that displays what you project information and needs.           
                  </p>
               </p>
            </article>
         </div>
         <div class=" about_us column is-3  is-offset-3">
            <article class=" signUp details container">
               <div class="content title is-size-1 has-text-weight-bold is-family-code is-flex is-justify-content-center">
                  <a href="/login" id="login">Sign Up Now!</a>
               </div>
            </article>
         </div>
    </div>
  </section >

</div>