<div class="home">
    <div class="home-description">
        <h4>The holidays season is a great time for giving back to the community by donating your time and money to a great cause.</h4>
        <p>Signup for a free account and begin to contribute to one of many special events.  Checkout the list of active projects.</p>
    </div>
    <div class="home-body">
        <img src="./image/giving.png" alt="Event Image">  
    </div>
</div>