:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #dffff9;
    --quatrinary: #dddcd9;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
}

a {
    color: var(--dark);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: var(--secondary);
}

a:visited {
    color: inherit;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 20px;
}

.form-group {
    margin-top: 10px;
}

.login-header {
    margin-left: 20px;
}

#email-login {
    margin-left: 30px;
}

#name-signup,
#email-signup {
    margin-left: 30px;
}

.login-signup {
    margin: 30px 0 0 20px;
}

.signup h2 {
    margin-left: 20px;
}

header {
    text-align: center;
    background: var(--primary);
    color: var(--light);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
}

nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin: 20px;
}

.project-item-group {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20px;
}

.project-item-group a {
    color: var(--dark);
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
    text-align: left;
}

.project-item-group img {
    width: 200px;
    height: 200px;
}

.projects-header {
    text-align: center;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 2px rgb(78, 74, 134) solid;
    margin: 30px 0;
}

.justify-center {
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}