:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #dffff9;
    --quatrinary: #dddcd9;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
}

a {
    color: var(--dark);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 20px;
}

.form-group {
    margin-top: 10px;
    margin-left: 20px;
}

.login-header {
    margin-left: 20px;
}

#email-login {
    margin-left: 30px;
}

#name-signup,
#email-signup {
    margin-left: 30px;
}

.login-signup {
    margin: 30px 0 0 20px;
}

.signup h2 {
    margin-left: 20px;
}

header {
    text-align: center;
    background: var(--primary);
    color: var(--light);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-description {
    text-align: center;
}

.home-description h4 {
    color: red;
}

.home-description p {
    color: green;
}

.home-body img {
    width: 100%;
    height: auto;
}

.project {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin: 20px;
}

.projects-body {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin: 20px;
}

.project-item-group {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20px;
}

.project-item-group a {
    color: var(--dark);
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.project-item-group h4 {
    margin-top: 0;
}

.projects-header {
    text-align: center;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}

.project-item-group img {
    max-width: 200px;
    height: auto;
}

.new-project h2 {
    margin-left: 40px;
}

#project-description,
#project-date {
    margin-left: 15px;
}

#event-type {
    margin-left: 10px;
}

.project-info {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.project-info img {
    max-width: 400px;
    height: 400px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.project-info p {
    margin-top: 0;
    margin-bottom: 0;
    color: navy;
}

.project-details-header {
    margin-left: 20px;
    margin-top: 30px;
}

.project-details-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-details-column {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    border-right: navy 1px solid;
}

.project-donate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-task-form {
    display: none;
}

.add-new-task {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 25px;
    background-color: none;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin-left: 25px;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 1px rgb(78, 74, 134) solid;
    margin: 30px 0;
}